
/* @media (min-width: 992px) {
  #cbs_img img {
    height:300px;
    width:100%;
  }
}

@media (max-width:992px) {
  #cbs_img img {
    height:200px;
    width:100%;
  }
}

@media (max-width: 768px) {
  #cbs_img img {
    height:150px;
    width:100%;
  }
} */
#cbs_update {
	width: 100%;
	padding-top: 40px;
	background-color: #F8F8F8;
}
.last_update_text {
	display: flex;
	justify-content: space-between;
}
.last_update_img {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	margin-top: 2%;
}

.main_text {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  color: #394A51;
  opacity: 1;
}
.arrow_show {
  visibility:visible;
}
.arrow_hidden {
  visibility:hidden;
}
.arrow_img img {
	width: 50%;
}

#cbs_recommend {
  padding-top: 40px;
  background-color: #F8F8F8;
}
@media (min-width:1200px) {
  .last_update_img_info {
    /*width: 92%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .arrow_img {
    width: 2%;
    height: 25%;
    background: #000000;
    opacity: 0.5;
    display:flex;
    align-items:center; 
    justify-content:center;
  }
  .arrow_img:hover {
    cursor: pointer;
  }
  .update_book {
    /*width:10%;*/
    /* height:224px; */
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  /* .replace_content_img {
    position: relative;
    width: 100%;
    cursor: pointer;
  } */
  .update_book:hover .mask {
      opacity: 0.6;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
  .update_book img {
    width:100%;
  }
  .update_book:hover .imgaes {
      opacity: 0.8;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
	.recommend_main {
		width: 100%;
		/* height: 500px; */
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
	}
	.recommend_main_left {
		width: 50%;
		height: 100%;
	}
	.recommend_main_right {
		width: 50%;
		height: 100%;
	}
	.recommend_content_one {
	  width: 100%;
	  /* height: 400px; */
	  padding: 36px;
	  margin-top: 20px;
	  background-color: #fff;
	  display: flex;
	  align-items: center;
	 }
  .recommend_content_one_m{
    display: none;
  }
	.recommend_content_two {
	  padding: 36px;
	  /* height: 608px; */
	  margin-top: 20px;
	  background-color: #fff;
	  display: flex;
	  align-items: center;
	  position: absolute;
	  top: 32px;
	  bottom: 0px;
	  right: 0px;
	  left: 50%;
	}
}

@media (min-width:760px) and (max-width:1200px){
  .last_update_img_info {
    /*width: 92%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recommend_content_one_m{
    display: none;
  }
  .arrow_img {
    width: 3%;
    height: 50%;
    background: #000000;
    opacity: 0.5;
    display:flex;
    align-items:center; 
    justify-content:center;
  }
  .arrow_img:hover {
    cursor: pointer;
  }
  .update_book {
    /*width:10%;*/
    /* height:224px; */
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  /* .replace_content_img {
    position: relative;
    width: 100%;
    cursor: pointer;
  } */
  .update_book:hover .mask {
      opacity: 0.6;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
  .update_book img {
    width:100%;
  }
  .update_book:hover .imgaes {
      opacity: 0.8;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
	.recommend_main_left {
		width: 100%;
		/* height: 100%; */
	}
	.recommend_content_one {
	  width: 100%;
	  height: 400px;
	  padding: 36px;
	  margin-top: 20px;
	  background-color: #fff;
	  display: flex;
	  align-items: center;
  }
	.recommend_main {
		width: 100%;
	}
/* 	.recommend_main_left {
		width: 100%;
	} */
	.recommend_main_right {
		margin-top: 20px;
	}
	.recommend_content_one {
		 width: 100%;
		 padding: 36px;
		 margin-top: 20px;
		 background-color: #fff;
		 display: flex;
	}
	.recommend_content_two {
		 padding: 36px;
		 margin-top: 20px;
		 background-color: #fff;
		 display: flex;
		 align-items: center;
	}
}
/* .recommend_main_left {
	width: 49%;
}
.recommend_main_right {
	width: 49%;
} */
.main_left_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.specific_content_img {
	width: 39%;
	cursor: pointer;
	position: relative;
}
.specific_content_img:hover .mask {
    opacity: 0.6;       
    transition: 0.5s;
    transition-duration:1s;
    /* transform:scale(1.2); */
}
.specific_content_img img {
	width: 100%;
}
.specific_content_img:hover .imgaes {
    opacity: 0.8;       
    transition: 0.5s;
    transition-duration:1s;
    /* transform:scale(1.2); */
}
.specific_content {
    width: 50%;
	margin-left: 8%;
}
.specific_img{
  margin-top: 5%;
  position: relative;
}
.specific_img img {
  width:68px;
  height:32px;
}
.specific_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 22px;
}
.word_one {
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  color: #394A51;
  opacity: 1;
  margin-top: 5%;
}
.word_two {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #394A51;
  opacity: 1;
  margin-top: 5%;
}

.word_three {
  width: 100%;
  height: 1px;
  background-color: #D0D0D0;
  margin-top: 5%;
  margin-bottom: 6%;
}

.word_four {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #394A51;
  opacity: 1;
}
.learn_more {
  width: 92px;
  height: 32px;
  background: rgba(3, 80, 86, 0.12);
  opacity: 1;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #035056;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.learn_more a{
  color: #035056;
}
.recommend_content_two>div+div {
  margin-left: 2%;
}
.replace_content {
   width: 32%;
}
.replace_content img {
  width: 100%;
}
.replace_content_img {
	position: relative;
	width: 100%;
	cursor: pointer;
}
.replace_content_img:hover .mask {
    opacity: 0.6;       
    transition: 0.5s;
    transition-duration:1s;
    /* transform:scale(1.2); */
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
	Z-index: 999;
    width: 100%;
	height: 100%;
	background-color: #1A1311;
    opacity: 0;
}
.imgaes {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	Z-index: 1000;
	opacity: 0;
	display: flex;
}
.imgaes div {
	width: 20%;
	margin-top: 60%;
	margin-left: 20%;
}
.imgaes img {
	width: 100%;
}
.replace_content_img:hover .imgaes {
    opacity: 0.8;       
    transition: 0.5s;
    transition-duration:1s;
    /* transform:scale(1.2); */
}
.word_five {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: #394A51;
  opacity: 1;
  margin-top:10px;
}
.word_six {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #394A51;
  opacity: 1;
  margin-top:4px;
}


#cbs_society {
  padding-top:40px;
  background-color: #F8F8F8;
  padding-bottom: 58px;
}
@media (min-width:1200px) {
	.society_main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	}
	.society_left {
		width: 49%;
	}
	.society_right {
		width: 49%;
	}
}
@media (max-width:1200px) { 
	.society_main {
		width: 100%;
	}
/* 	.society_left {
		width: 49%;
	} */
	.society_right {
		margin-top: 20px;
	}
}
.society_one{
  display: flex;
  justify-content: space-between;
}

.society_two{
  display: flex;
  justify-content: space-between;
}
.society_content {
  padding: 36px;
  margin-top: 20px;
  background-color: #fff;
}
.society_content_info {
	display: flex;
	align-items: center;
}
.society_content_info a{
	display: flex;
  align-items: center;
  width: 100%;
}
.society_num{color:#212529}
.society_content_info div{
  cursor: pointer;
}
.society_plan {
  width: 70%;
  height: 14px;
  border-radius: 14px;
  background-color: #E2E2E2;
  margin-right: 32px;
}
.society_plan_info {
  /* width: 80%; */
  height: 14px;
  border-radius: 14px;
  background-color: #336865;
}
.learn_main {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.word_seven {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  color: #394A51;
  opacity: 1;
}
.word_eight {
  width: 92px;
  height: 32px;
  background: rgba(3, 80, 86, 0.12);
  opacity: 1;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #035056;
  text-align: center;
  cursor: pointer;
}
.word_nine {
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
  color: #394A51;
  opacity: 1;
}
.word_ten {
  width: 92px;
  height: 32px;
  background: rgba(3, 80, 86, 0.12);
  opacity: 1;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  color: #035056;
  text-align: center;
  cursor: pointer;
}

.society_content {
  padding: 36px;
  margin-top: 20px;
  background-color: #fff;
}
.society_content>div+div{
  margin-top: 28px;
}
.society_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  opacity: 1;
  margin-right: 16px;
  width: 50px;
}
.society_number {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  opacity: 1;
}
.search_content {
  padding: 36px;
  margin-top: 20px;
  background-color: #fff;
}
.search_number {
  width: 20px;
  height: 20px;
  /* background: #FF5050; */
  opacity: 1;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  margin-right:13px;
}
.search_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  opacity: 1;
}
.search_content>div+div {
  margin-top: 30px;
}
@media (max-width:760px) {
.recommend_content_two>div+div {
  margin-left: 8%;
}
.replace_content {
  width: 46%;
}
.word_one {
  font-size: 13px;
}
.word_five{
  font-size: 12px;
}
.word_seven,.word_nine,.main_text{
  font-size: 19px;
}
  .last_update_img_info {
    /*width: 92%;*/
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  .arrow_img {
    width: 8%;
    height: 30%;
    background: #000000;
    opacity: 0.5;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .arrow_img:hover {
    cursor: pointer;
  }
  .update_book {
    /*width: 35%;*/
    /* height:224px; */
    display: inline-block;
    /*margin-left: 10%;*/
    /*margin-top: 6%;*/
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  /* .replace_content_img {
    position: relative;
    width: 100%;
    cursor: pointer;
  } */
  .update_book:hover .mask {
      opacity: 0.6;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
  .update_book img {
    width:100%;
  }
  .update_book:hover .imgaes {
      opacity: 0.8;       
      transition: 0.5s;
      transition-duration:1s;
      /* transform:scale(1.2); */
  }
	.recommend_main {
		width: 100%;
	}
/* 	.recommend_main_left {
		width: 100%;
	} */
	.recommend_main_right {
		margin-top: 20px;
	}
	.recommend_content_one {
		 width: 100%;
		 padding: 36px;
		 margin-top: 20px;
		 background-color: #fff;
		 display: flex;
  }
  .is_phone{
    display:none
  }
  .recommend_content_one_m{
    width: 100%;
    padding: 36px;
    padding-top: 0px;
    background-color: #fff;
    display: flex;
  }
	.recommend_content_two {
		 padding: 36px;
		 margin-top: 20px;
		 background-color: #fff;
		 display: flex;
		 align-items: center;
	}
}
.justify-content-lg-start a{
  display: contents;
}
.search_content a{
  display: contents;
}