h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #484848;}
li {list-style-type:none;}
a:link {
  text-decoration: none;
}
body {
  background-color: #F8F8F8;
  min-height: 100vh;
}

.iw_columns {
  //padding: 0;
}
#cbs_header .top_content {
  margin-top: 40px;
  margin-bottom:15px;
  height: 44px;
}
.justify-content-lg-start a{
  display: contents;
}
.bottom_ul li.active {
  background: #FA7D00;
}

@media (min-width: 576px) {
  .top_content_word {
    margin-left:10px;
    font-size: 22px;
    font-weight: bold;
    color: #1A1311;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .top_content_word {
    margin-left:10px;
    font-size: 14px;
    font-weight: bold;
    color: #1A1311;
    opacity: 1;
  }
  .justify-content-lg-start {
    cursor: pointer;
    width: 80%;
    flex: 0 0 61%;
    max-width: 100%;
  }
  .justify-content-end {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 36%;
  }
}
.top_input {
  height: 38px;
  margin-top: 3px;
  justify-content: flex-start!important;
  /* border-color: #035056; */
}
.top_input input {
  width: 220px;
  height: 38px;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  border: 2px solid #035056;
  border-right: none;
}
.top_input input:focus {
  outline: none;
}
.top_search {
  width: 48px;
  height: 38px;
  border-radius: 0 20px 20px 0;
  background-color: #035056;
}
.top_search:hover{
  cursor: pointer
}
.top_search img {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.top_profile_img{
  width: 42px;
  height: 42px;
}
.top_profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%!important;
}
.top_profile .top_arrows {
  margin-left: 8px;
  cursor: pointer;
}
.top_profile .top_arrows img{
  width: 8px;
  height: 8px;
  border-radius: 0;
}
.dropdown_content img {
  width:16px!important;
  height:16px!important;
  border-radius: 0!important;
}
.top_arrows>div {
  width: 226px;
  /*height: 264px;*/
}
.top_arrows .dropdown-menu {
  padding:0;
}
.top_arrows>div>div {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
}
.top_arrows>div>div img {
  margin-left:20px;
}
.top_arrows>div>div a {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 20px;
  color: #394A51;
  opacity: 1;
}
.top_last_word a{
  color: #EC283D!important;
}


@media (max-width: 576px) {
  .nav_width{
    margin-left: 6%;
  }
  .bottom_content {
    height: 42px;
    background-color: #035056;
  }
  .bottom_ul {
    height:30px;
    padding-left: 0px;
  }
  .bottom_ul li {
    width: 76%;
    height: 30px;
    line-height:30px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 10px;
  }
  .bottom_ul li a {
    display: block;
    color: #FFFFFF;
  }
 .nav_ul {
    position: absolute;
    left: -40px;
    z-index: 999;
    width:120px;
  }
  .show_drop {
    display: none;
  }
  .nav_ul li {
    width: 80px;
    height:30px;
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
    color: #394A51;
    opacity: 1;
    background-color: #FFFFFF;
  }
  .nav_ul li:hover {
    background-color: #EEEEEE;
  }
}
@media (min-width: 576px) {
  .bottom_content {
    height:44px;
    background-color: #035056;
  }
  .bottom_ul {
    height:44px;
  }
  .bottom_ul li {
    width:120px;
    height:44px;
    line-height:44px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 14px;
  }
  .bottom_ul li a {
    display: block;
    color: #FFFFFF;
  }
  .nav_ul {
    position: absolute;
    left: -40px;
    z-index: 999;
    width:120px;
  }
  .show_drop {
    display: none;
  }
  .nav_ul li {
    width:120px;
    height:44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    color: #394A51;
    opacity: 1;
    background-color: #FFFFFF;
  }
  .nav_ul li:hover {
    background-color: #EEEEEE;
  }
}

.active {
  /*background-color: #FA7D00;*/
}


.footer_content {
  height: 40px;
  background-color: #67B6B3;
}
.footer_text {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content-lg-start{
  /* cursor:pointer*/
}
@media (max-width:760px) {
  .top_seach{
    display:none
  }
}

.hamburger {
  background: transparent;
  border: none;
  height: 32px;
  width: 32px;
  z-index: 1;
  margin-left: 50%;
  margin-right: 0%;
  text-align: center;
  flex: 1;
  margin-top: 5px;
  position: absolute;
  right: 7%;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
}
.hamburger.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ffffff;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: #ffffff;
}
.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001;
}
.navbar-box{
  z-index: 1001;
  position: fixed;
  right: 0px;
  top: 0px;
  display: inline-block;
  padding: 0px;
  height: 100vh;
  width: 0px;
  background: #000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  overflow: hidden;
}
/*
.dropdown-menu.show {
  display: contents;
}
 */
.dropdown-menu-right.show{
  display: block;
}
@media (max-width: 1200px) {
  .nav_box{display:none}
  .top_seach {visibility:hidden}
  .top_seach0 .top_input{margin-top: 2px;}
  .top_seach0 .top_search{
    border: 2px solid #fff;
    height:34px;
    margin-top:2px;
    width: 44px;
  }
  .top_seach0 .top_search img{
    margin-right: 6px;
    margin-left: 6px;
  }
  .typeahead{min-width: 240px;}
}
@media (min-width: 1200px) {
  .hamburger{display: none!important;}
  .top_seach0{display:none!important;}
  .typeahead{min-width: 270px;}
  .container{max-width: 1800px;}
}
@media (max-width: 992px) {
  .hamburger{right: 30px}
}
@media (max-width: 576px) {
  .hamburger{right: 48px}
}
.nav_a{
  color: #394A51!important
}
#cbs_img img{width: 100%}
.typeahead .active{background: #035056;}
.typeahead .active a{
  color: #f0f0f0;}
.typeahead a{color: #035056;}
