<section id="cbs_content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-1 col-10 attention_content">
                <div class="attention_left">
                    <ul class="attention_left_top">
                        <li><img src="$URL_PREFIX[resources/img/index/myhead.jpg]" alt=""></li>
                        <li id="userName"></li>
                    </ul>
                    <ul class="attention_left_bottom">

                        <li>
                            <a href="$PAGE_LINK[resources]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_0.png]"></div>
                                <div>
										<span in-context-edit="$MODEL{/Properties/Data/Datum[@ID='myResources']/@ID}">
    										$MODEL{/Properties/Data/Datum[@ID='myResources']}
										</span>

                                </div>
                            </a>
                        </li>

                        <li class="active_m">
                            <a href="$PAGE_LINK[attention]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_1_active.png]"></div>
                                <div>
										<span in-context-edit="$MODEL{/Properties/Data/Datum[@ID='myAttention']/@ID}">
    										$MODEL{/Properties/Data/Datum[@ID='myAttention']}
										</span>

                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="$PAGE_LINK[myCollection]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_2.png]"></div>
                                <div>
										<span in-context-edit="$MODEL{/Properties/Data/Datum[@ID='myCollect']/@ID}">
    										$MODEL{/Properties/Data/Datum[@ID='myCollect']}
										</span>

                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="$PAGE_LINK[history]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_3.png]"></div>
                                <div>
										<span in-context-edit="$MODEL{/Properties/Data/Datum[@ID='myRecord']/@ID}">
    										$MODEL{/Properties/Data/Datum[@ID='myRecord']}
										</span>

                                </div>
                            </a>
                        </li>


                        <li>
                            <a href="$PAGE_LINK[download]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_4.png]"></div>
                                <div>
										<span in-context-edit="$MODEL{/Properties/Data/Datum[@ID='myDownload']/@ID}">
    										$MODEL{/Properties/Data/Datum[@ID='myDownload']}
										</span>

                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="$PAGE_LINK[upload]">
                                <div><img src="$URL_PREFIX[resources/img/person/left_nav_4.png]"></div>
                                <div><span>我的上传</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="attention_right">
                    <div class="container upload-container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <section class="card">
                                    <div id="file" aria-labelledby="file-tab">
                                        <div class="file-title">
                                            <div class="file-size"><span><span id="files-num">0</span>个文件上传</span><span>（大小<span
                                                    id="files-size">0.00</span>M）</span></div>
                                            <div class="file-upload">
                                                <span class="visible-block">拖拽资源到下面的区域，或者</span>
                                                <button type="button" class="btn btn-success">
                                                    选择文件
                                                    <input type="file" multiple="multiple" id="file-choice-input"/>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="file-table">
                                            <div class="file-table-null">
                                                <span class="visible-block">将文件拖动到此或者</span>点击选择文件
                                                <input type="file" multiple="multiple" id="file-drag-input"/>
                                            </div>
                                            <ul>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="metadata-box">
                                        <div class="title"><h5>素材信息</h5></div>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label>共享权限</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="string"
                                                       type="text" class="form-control"
                                                       id="PEP.FIELD.RESOURCE.SHARE.TYPE"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>类别</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="string"
                                                       type="text" class="form-control"
                                                       id="PEP.FIELD.RESOURCE.TYPE"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>语种</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="string"
                                                       type="text" class="form-control"
                                                       id="PEP.FIELD.RESOURCE.LANG"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="metadata-box">
                                        <div class="title"><h5>版权信息</h5></div>
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label>授权时间</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="dateTime"
                                                       type="datetime-local" class="form-control"
                                                       id="PEP.FIELD.RESOURCE.COPYRIGHT.START"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>结束时间</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="dateTime"
                                                       type="datetime-local" class="form-control"
                                                       id="PEP.FIELD.RESROUCE.COPYRIGHT.END"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>提供方</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="string"
                                                       type="text" class="form-control"
                                                       id="PEP.FIELD.RESROUCE.COPYRIGHT.SUPPLIER"/>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>适用范围</label>
                                                <input metadata-class="com.artesia.metadata.MetadataField"
                                                       metadata-type="string"
                                                       type="text" class="form-control"
                                                       id="PEP.FIELD.RESROUCE.COPYRIGHT.SCOPE"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="metadata-box">
                                        <div class="title"><h5>自定义标签</h5></div>
                                        <div class="content" metadata-class="com.artesia.metadata.MetadataTableField"
                                             id="PEP.TABULAR.FIELDS.RESOURCES.TAG_NAME" metadata-type="string">
                                            <div class="add-button">
                                                <button type="button" class="btn btn-default">+</button>
                                            </div>
                                            <div class="add-input">
                                                <input type="text" class="form-control" id="upload21-category"/>
                                                <button type="button" class="btn btn-default">添加</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-button">
                                        <button type="button" class="btn btn-primary" id="upload-complete">完成</button>
                                        <button type="button" class="btn btn-default" id="upload-reset">重置</button>
                                        <button type="button" class="btn btn-default" id="upload-cancel">取消</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--分页-->
<section id="cbs_page">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center pages_info">
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    {
        let files = [];
        let isUploadFileStatus = false;

        /**
         * 添加文件的方法
         */
        $('.upload-container #file-choice-input').on('change', function () {
            for (let i = 0; i < this.files.length; i++) {
                const fr = new FileReader();
                const img = this.files.item(i);
                img.id = String(new Date().getTime()) + String(Math.random() * 100);
                files.push(img);
                $('.upload-container .file-table-null').hide();
                fr.readAsDataURL(img);
                fr.onload = function () {
                    const src = this.result;
                    $('.upload-container .file-table ul').append('<li>\n' +
                        '                  <img class="ico" src="' + src + '"/>\n' +
                        '                  <span class="name">' + img.name + '</span>\n' +
                        '                  <span class="size">' + Number(img.size / 1024).toFixed(1) + 'KB</span>\n' +
                        '                  <span class="close" onclick="uploadContainerDeleteFileInput(this, \'' + img.id + '\')">X</span>\n' +
                        '                </li>');
                }
            }
            let size = 0;
            for (let i = 0; i < files.length; i++) {
                size += files[i].size;
            }
            $('.upload-container #files-num').text(files.length);
            $('.upload-container #files-size').text(Number(size / 1024 / 1024).toFixed(2));
            this.value = '';
        });
        $('.upload-container #file-drag-input').on('change', function () {
            for (let i = 0; i < this.files.length; i++) {
                const fr = new FileReader();
                const img = this.files.item(i);
                img.id = String(new Date().getTime()) + String(Math.random() * 100);
                files.push(img);
                $('.upload-container .file-table-null').hide();
                fr.readAsDataURL(img);
                fr.onload = function () {
                    const src = this.result;
                    $('.upload-container .file-table ul').append('<li>\n' +
                        '                  <img class="ico" src="' + src + '"/>\n' +
                        '                  <span class="name">' + img.name + '</span>\n' +
                        '                  <span class="size">' + Number(img.size / 1024).toFixed(1) + 'KB</span>\n' +
                        '                  <span class="close" onclick="uploadContainerDeleteFileInput(this, \'' + img.id + '\')">X</span>\n' +
                        '                </li>');
                }
            }
            let size = 0;
            for (let i = 0; i < files.length; i++) {
                size += files[i].size;
            }
            $('.upload-container #files-num').text(files.length);
            $('.upload-container #files-size').text(Number(size / 1024 / 1024).toFixed(2));
            this.value = '';
        });

        /**
         * 删除文件的方法
         */
        function uploadContainerDeleteFileInput(obj, id) {
            obj.parentNode.remove();
            for (let i = 0; i < files.length; i++) {
                if (files[i].id === id) {
                    files.splice(i, 1);
                    break;
                }
            }
            if (files.length === 0) {
                $('.upload-container .file-table-null').show();
            }
            let size = 0;
            for (let i = 0; i < files.length; i++) {
                size += files[i].size;
            }
            $('.upload-container #files-num').text(files.length);
            $('.upload-container #files-size').text(Number(size / 1024 / 1024).toFixed(2));
        }

        /**
         * 删除全部的文件的方法
         */
        function uploadContainerDeleteFileAll() {
            files = []
            $('.upload-container .file-table ul li').remove();
            $('.upload-container .file-table-null').show();
            let size = 0;
            for (let i = 0; i < files.length; i++) {
                size += files[i].size;
            }
            $('.upload-container #files-num').text(files.length);
            $('.upload-container #files-size').text(Number(size / 1024 / 1024).toFixed(2));
        }

        /**
         * 删除全部的文件的方法
         */
        function uploadContainerDeleteMetadataAll() {
            $('.upload-container #upload-describe').val('');
        }

        /**
         * 确认
         */
        $('.upload-container #upload-complete').on('click', function (start, end) {
                if (files.length > 0) {
                    isUploadFileStatus = true;
                    const form = new FormData();
                    let metadata_element_list = [];
                    $("input[metadata-class='com.artesia.metadata.MetadataField']").each(function () {
                        let metadataField = {
                            id: $(this).attr("id"),
                            type: $(this).attr("metadata-class"),
                            datatype: $(this).attr("metadata-type"),
                            value: $(this).val(),
                        };

                        metadata_element_list.push(metadataField);

                    });
                    $("[metadata-class='com.artesia.metadata.MetadataTableField']").each(function () {
                        let metadataTableField = {
                            id: $(this).attr("id"),
                            type: $(this).attr("metadata-class"),
                            datatype: $(this).attr("metadata-type")
                        }
                        const values = [];
                        $(this).children(".item").each(function () {
                            const c = this.innerText;
                            values.push(c.substring(0, c.length - 2));
                        })
                        metadataTableField.value = values;
                        metadata_element_list.push(metadataTableField);
                    });
                    const policies = ["35"];
                    form.append('metadata_element_list', JSON.stringify(metadata_element_list));
                    form.append("metadata_model_id", "PEP.MODEL.RESOURCE.ASSET");
                    form.append("security_policy_list", JSON.stringify(policies));
                    for (let i = 0; i < files.length; i++) {
                        form.append('files', files[i]);
                    }
                    let userInfo = {
                        "user_id": "ligk",
                        "department_id": 20000150
                    }
                    form.append("user_info", JSON.stringify(userInfo));
                    let url ='http://192.168.190.122:1876/dam-api/resourcesLibrary/import';
                    // let url = 'http://10.52.0.154:1876/pepapi/resourcesLibrary/import';
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: form,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            console.log(data);
                            uploadContainerDeleteFileAll();
                            isUploadFileStatus = false;
                        },
                        error: function (e) {
                            console.log(e);
                            isUploadFileStatus = false;
                        }
                    });
                }
            }
        )
        ;

        /**
         * 重置
         */
        $('.upload-container #upload-reset').on('click', function () {
            if (isUploadFileStatus) {
            } else {
                uploadContainerDeleteFileAll();
                uploadContainerDeleteMetadataAll();
            }
        });

        /**
         * 取消
         */
        $('.upload-container #upload-cancel').on('click', function () {
            if (isUploadFileStatus) {
            } else {
                uploadContainerDeleteFileAll();
                uploadContainerDeleteMetadataAll();
            }
        });

        /**
         * 自定义标签的输入框显示
         */
        $('.upload-container .metadata-box .add-button button').on('click', function () {
            $('.upload-container .metadata-box .add-button').hide();
            $('.upload-container .metadata-box .add-input')[0].style.display = 'flex';
        });

        /**
         * 自定义标签的--添加
         */
        $('.upload-container .metadata-box .add-input button').on('click', function () {
            const val = $('.upload-container .metadata-box .add-input input')[0].value;
            if (val !== null && val !== undefined && val.length > 0) {
                // 添加节点
                $('.upload-container .metadata-box .add-button').before($('<div class="item">' + val + '<span onclick="uploadContainerMetadataTagDelete(this)">X</span></div>'));
                $('.upload-container .metadata-box .add-input').hide();
                $('.upload-container .metadata-box .add-button').show();
                $('.upload-container .metadata-box .add-input input')[0].value = '';
            }
        });

        /**
         * 自定义标签的--删除
         */
        function uploadContainerMetadataTagDelete(obj) {
            obj.parentNode.remove();
        }

    }
</script>
