.user-nav{
  margin-top: 24px;
  padding: 24px 0;
  text-align: center;
}
.user-info{
  margin-bottom: 24px;
}
.user-icon{
  font-size: 4rem;
}
.user-command a{
  color: #035056;
  font-size: 1rem;
}
.user-command a i{
  margin-right: 1rem;
}

