<?xml version="1.0" encoding="UTF-8"?>
<section>
    <div class="container-fluid bottom_content">
        <div class="row">
            <div class="offset-2 col-4 col-lg-4 offset-lg-3 nav_box">
                <ul class="d-flex text-center bottom_ul">
                    <li/>
                    ??
                    ??

                    index


                    <li class="position-relative">??
                        <ul class="nav_ul show_drop">
                            <li/>
                        </ul>
                    </li>
                    ??


                    <a href="$PAGE_LINK[vcg/index]&#10;                    ">????</a>
                    <li/>
                    ????


                    statistics


                </ul>
            </div>
            <div class="offset-lg-1 col-lg-8  top_seach0 col-5">
                <div class="top_input d-flex justify-content-end"><input type="text" placeholder="请输入关键字"
                                                                         data-provide="typeahead" autocomplete="off"
                                                                         id="searchWordsM"/>
                    <div class="top_search d-flex align-items-center"><img
                            src="$URL_PREFIX/resources/img/index/search.png"/></div>
                </div>
            </div>
            <button onclick="open_menu()" type="button"
                    class="col-2 col-lg-2 d-flex justify-content-end justify-content-lg-center align-items-center top_profile hamburger is-closed animated fadeInLeft">
                <span class="hamb-top"/><span class="hamb-middle"/><span class="hamb-bottom"/></button>
        </div>
    </div>
</section>
<div class="overlay" onclick="close_menu()"/>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-box" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand"><a href="#"/></li>
        <li><a href=""><i class="fa fa-fw fa-home"/></a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><i
                class="fa fa-fw fa-plus"/><span class="caret"/></a>
            <ul class="dropdown-menu" role="menu"/>
        </li>
    </ul>
</nav>